############################
# Compiled output
############################
dist/
out-tsc/
tmp/
coverage/

############################
# Node
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea/

############################
# Angular cache
############################
.angular/cache

############################
# IDE - IntelliJ
############################
.idea/

############################
# VS Code
############################
.vscode/

############################
# Other editors
############################
.project
.classpath
.settings/
.c9/
*.launch
*.sublime-workspace

############################
# Misc
############################
.sass-cache/
connect.lock
libpeerconnection.log
testem.log
typings/

############################
# System files
############################
.DS_Store
Thumbs.db