 
# Spring Boot
StreetLeague/target/
StreetLeague/*.jar
StreetLeague/.mvn/

# Angular
StreetLeagueFront/node_modules/
StreetLeagueFront/dist/
StreetLeagueFront/.angular/

# Python général
venv/
env/
__pycache__/
*.pyc