 
# Spring Boot
StreetLeague/target/
StreetLeague/*.jar
StreetLeague/.mvn/

# Angular
StreetLeagueFront/node_modules/
StreetLeagueFront/dist/
StreetLeagueFront/.angular/

# Flask API
flask_api/venv/
flask_api/__pycache__/
flask_api/*.pyc
flask_api/models/*.pkl
flask_api/streetleague_dynamic_pricing.csv